.App {
  text-align: center;
}
#receiptsContainer {
  margin: 1em;
}
.card-subtitle {
  font-size: 1em !important;
}
.card {
  font-size: 0.8em;
  width: 18rem;
  padding: 1em 0em 0em 0em;
}

.card-body {
  padding: 0.2em !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}